<!doctype html>
<html lang="en">
  <head>
    <?- include('partials/site-head.ejs') ?>
  </head>
  <body>

  <div class="container">
  <?- include('partials/site-navigation.ejs') ?>
  <!-- <?- include('partials/site-alerts.ejs') ?> -->
  <?- include('partials/site-header.ejs') ?>
  </div>

  <main class="container-fluid">
    <!--
      <?- include('partials/site-latest.ejs') ?>
      <?- include('partials/site-featured.ejs') ?>
    -->
    <div class="row my-5">
      <div class="col">
        <?- include('partials/site-listing.ejs') ?>
        <?- include('partials/site-pagination.ejs') ?>
      </div>
    </div>
  </main>

  <div class="container">
  <?- include('partials/site-footer.ejs') ?>
  </div>

  </body>
</html>
