<!doctype html>
<html lang="en">
  <head>
    <?- include('partials/site-head.ejs') ?>
  </head>

  <body>
  <div class="container">
  <?- include('partials/site-navigation.ejs') ?>
  </div>
  <main class="container my-5">

    <div class="row">

      <div class="col-lg-4">
        <!-- Side Card -->
        <div class=" sticky-md-top pt-3">
          <div class="card text-bg-dark shadow">
            <img src="files/lg-<?=post.image?>" class="card-img-top" alt="...">
            <div class="card-body" style="min-height: 9rem;">
              <h5 class="card-title text-warning"><?=post.title?></h5>
              <p class="card-text small text-muted"><?=timestamp(post.date)?></p>
            </div>
            <div class="card-footer" style="min-height: 4rem;">
              <div class="d-grid gap-2 col-8 mx-auto">
                <?if(post.audio){?>
                <a href="files/<?=post.audio?>" class="btn btn-lg btn-<?=post.last?'primary':'warning'?>"><i class="bi bi-play-circle"></i> Listen</a>
                <?}?>
              </div>
            </div>
            <div class="card-footer">
              <?if(post.tagger[tag].first){?><span class="small text-muted">Viewing Latest Post</span><?}?>
              <?if(!post.tagger[tag].first){?><a href="/data/<?=post.tagger[tag].next?>" class="btn btn-sm btn-outline-info"><i class="bi bi-arrow-left-circle-fill"></i> Newer Post</a><?}?>
              <a href="/data/<?=post.tagger[tag].prev?>" class="btn btn-sm btn-outline-info float-end">Older Post <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-8 text-light post-content pt-3">
        <!-- Content Card -->
        <div class="card text-bg-dark shadow mb-3">
          <div class="card-body">
            <h2 class="card-title text-warning"><?=post.title?></h2>
            <p class="card-text small text-muted"><?=timestamp(post.date)?></p>
          </div>

          <div class="card-text post-content p-3">
            <?- post.content ?>
          </div>

        </div>

        <?if(post.links){?>
          <!-- links Card -->
        <div class="card text-bg-dark shadow mb-3">
          <div class="card-body">
            <a name="references"></a>
            <h5 class="card-title">Links</h5>
          </div>
          <ul class="list-group list-group-flush">
              <?for(let link of post.links){?>
                <li class="list-group-item text-bg-dark"><a href="<?=link.url?>" class="card-link"><?=link.title?></a> <small class="text-muted">(<?=hostname(link.url)?>)</small></li>
              <?}?>
          </ul>
        </div>
        <?}?>


      </div>

      </div>

    </div>

  </main>
  <div class="container">
  <?- include('partials/site-footer.ejs') ?>
  </div>
  </body>
</html>
