<a href="https://catpea.org//<?- post.guid ?>/files/<?- post.audio ?>" class="btn btn-warning"><i class="bi bi-play-circle"></i> Listen</a>
<a href="/<?- post.guid ?>" class="btn btn-outline-warning"><i class="bi bi-eye"></i> View</a>
<a href="/<?- post.guid ?>6#references" title="Contains Links or References" class="btn btn-outline-info float-end">2 Links</a>
