<!-- <h3 class="pb-4 mb-4 fst-italic border-bottom border-warning text-warning">
  Browsing <?= posts.value().length ?> posts, <?=perPage?> per page, starting with latest first.
</h3> -->

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">

<? for(const post of posts.value()){ ?>



  <div class="col">
    <div class="card h-100 text-bg-dark shadow">
      <a href="/data/<?=post.guid?>/<?=post.file?>"><img src="/data/<?=post.guid?>/files/lg-<?=post.image?>" class="card-img-top" alt="..."></a>
      <div class="small text-muted mt-2">

      </div>
      <div class="card-body">

        <h5 class="card-title text-warning"><?-post.title.replace(/ (?=\w+$)/gm, '&nbsp;')?></h5>
        <h6 class="card-subtitle mb-3 text-muted small"><?=timestamp(post.date)?></h6>

        <p class="card-text"><?= chain( post.content ).plaintext().truncate({length: 256, separator: /\W/i, 'omission': '...'}).value() -?></p>
      </div>
      <div class="card-footer">

        <?if(post.audio){?>
          <a href="/data/<?=post.guid?>/files/<?=post.audio?>" class="btn btn-<?=get(post, linkedPath).first?'primary':'warning'?> position-relative"><i class="bi bi-play-circle"></i> Listen<?if(get(post, linkedPath).first){?><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-light shadow">new</span><?}?></a>
        <?}?>
        <a href="/data/<?=post.guid?>/<?=post.file?>" class="btn btn<?=post.audio?'-outline':''?>-<?=get(post, linkedPath).first?'primary':'warning'?>"><i class="bi bi-eye"></i> View</a>
        <?if(post.links?.length){?>
         <a href="/data/<?=post.guid?>/<?=post.file?>#references" title="Contains Links or References" class="btn btn-outline-info float-end"><?=post.links?.length?> Link<?=post.links?.length>1?'s':''?></a>
        <?}?>
      </div>
    </div>
  </div>



<?}?>


<div class="col d-none d-xxl-flex">

<div class="card h-100 text-bg-dark shadow">
  <!-- <div class="card-body">
    <h5 class="card-subtitle text-muted text-center">Summary</h5>
  </div> -->

    <div class="row align-items-center h-100 pb-2">
      <div class="col text-center">
        <? for(const post of posts.value()){ ?>
          <a href="/data/<?=post.guid?>/<?=post.file?>"><img style="width: 15%; height:15%; margin: 2px;" src="/data/<?=post.guid?>/files/lg-<?=post.image?>" class="rounded" alt="<?-post.title?>" title="<?-post.title?>"></a>
        <?}?>
      </div>
    </div>
  </div>



</div>

</div>
